.rmdb-actor {
  box-sizing: border-box;
  
}

.rmdb-actor img {
  width: 40%;
  height: auto;
  float: left;
  box-sizing: border-box;
}

.rmdb-box{
  background: rgb(94, 93, 93);
  height: 250px;
}

.rmdb-actor-name {
  font-family: 'Abel', sans-serif;
  font-size: 22px;
  color:#fff;
  float: left;
  margin: 10px 0px;
  width: 40%;
  box-sizing: border-box;
 
}

.rmdb-actor-character {
  font-family: 'Abel', sans-serif;
  font-size: 18px;
  color:#fff;
  float: left;
  margin: 10px 0px;
  width: 40%;
  box-sizing: border-box;
}